parameters:
    ignoreErrors:
        -
            rawMessage: 'Call to method toBe() of internal class Pest\Mixins\Expectation<TValue> from outside its root namespace Pest.'
            identifier: method.internalClass
            count: 15
            path: tests/Unit/Models/UserTest.php

        -
            rawMessage: 'Call to method toBeArray() of internal class Pest\Mixins\Expectation<TValue> from outside its root namespace Pest.'
            identifier: method.internalClass
            count: 2
            path: tests/Unit/Models/UserTest.php

        -
            rawMessage: 'Call to method toBeGreaterThan() of internal class Pest\Mixins\Expectation<TValue> from outside its root namespace Pest.'
            identifier: method.internalClass
            count: 1
            path: tests/Unit/Models/UserTest.php

        -
            rawMessage: 'Call to method toBeInstanceOf() of internal class Pest\Mixins\Expectation<TValue> from outside its root namespace Pest.'
            identifier: method.internalClass
            count: 10
            path: tests/Unit/Models/UserTest.php

        -
            rawMessage: 'Call to method toBeNull() of internal class Pest\Mixins\Expectation<TValue> from outside its root namespace Pest.'
            identifier: method.internalClass
            count: 12
            path: tests/Unit/Models/UserTest.php

        -
            rawMessage: 'Call to method toBeString() of internal class Pest\Mixins\Expectation<TValue> from outside its root namespace Pest.'
            identifier: method.internalClass
            count: 2
            path: tests/Unit/Models/UserTest.php

        -
            rawMessage: 'Call to method toBeTrue() of internal class Pest\Mixins\Expectation<TValue> from outside its root namespace Pest.'
            identifier: method.internalClass
            count: 7
            path: tests/Unit/Models/UserTest.php

        -
            rawMessage: 'Call to method toContain() of internal class Pest\Mixins\Expectation<TValue> from outside its root namespace Pest.'
            identifier: method.internalClass
            count: 1
            path: tests/Unit/Models/UserTest.php

        -
            rawMessage: 'Call to method toHaveKey() of internal class Pest\Mixins\Expectation<TValue> from outside its root namespace Pest.'
            identifier: method.internalClass
            count: 12
            path: tests/Unit/Models/UserTest.php
