includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - phpstan-baseline.neon

parameters:

    paths:
        - app
        - bootstrap
        - config
        - database
        - database/migrations
        - public
        - routes
        - tests

    excludePaths:
        - bootstrap/cache

    level: max

    tmpDir: tmp/phpstan

    ignoreErrors:
